body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: #be0000;
  height: 8em;
  width: 100vw;

  border: 2px solid black;
  padding: 0.5em;
  margin-bottom: 0.6em;
}

nav h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  display: flex;
  flex-direction: column;

  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.singleProduct {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 110em;
  /* margin-bottom: 1em;
  margin-left: 1em; */
 

  column-gap: 15em;
  border: 1px solid red;

  color: white;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;

}

.singlePerson{
  height: 90px;
  width: 72vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* flex-direction: row; */
  /* column-gap: 15em; */
  border: 10px dotted red;

  color: white;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
}

.moviePic {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-align: center;
  margin-right: auto
}

/* .moviePic > img {
 max-width: 100%;
 height: auto;
margin-left: 0.5em;
} */

#poster{
  max-width: 50%;
  object-fit: contain;
 height: auto;
}

.moviePic > p {
  margin: auto;
  margin-left: 2em;
}

.button {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
}

.routes {
  display: flex;
}

.sidebar {
  height: 100vh;
  border: 2px solid black;
  padding: 1em;
  margin-right: 0.5em;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;

  background-color: #be0000;
}

.all-users{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}